<div class="maincomponent"></div>
  
    <section class="articles">
        <h2 class="articles_heading">Your Posts</h2>
        <div class="hr-div"><hr class="latest_hr"></div>
        <ul  class="article_ul">

            <% posts.forEach(post => { %>
             
            
            <li class="posts_li">
                <a href="/post/ <%= post._id %>">
                    
                    <span class="title_post"> <p><%= post.title %></p><br><p class="content"><%= post.body %></p></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                    <form action="/delete-post/<%= post._id %>" method="POST" style="display: inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/edit-post/<%= post._id %>" method="GET" style="display: inline;">
                        <button type="submit">Edit</button>
                    </form>  
                   
                </a>

                <!-- <hr> -->
    
            </li>
            <% }) %>
            
        </ul>
        <a href="/" class="pagination back">&lt;Back</a>
      
        
    </section>
</div>